<div class="home" ng-show="userId === ''" ng-cloak>
  <section>
    <h1>
        <img src="img/logo_light.svg" alt="Synacor logo"/>
    </h1>
    <h1>
      %%SITENAME%% - Retrospective Tool
    </h1>

    <button ng-click="modalService.openAddNewBoard(this)">NEW BOARD</button>
  </section>
  <section class="step">
    <h2>Set the context</h2>
    <img src="img/image1.png" alt="screenshot of set the context feature" />
    <p>
      Why is this retrospective being held? What will it cover? Retrospectives, similarly to any other meeting, are more effective
      if the participants align their expectations before getting into it.
    </p>
  </section>
  <section class="step">
    <h2>
      Go for it!
    </h2>
    <img src="img/image3.png" alt="screenshot of an example of a board" />
    <p>
      It is time to gather data, talk about the positive stuff, recognize people and seek improvements. Select an activity, create
      and customize your board. Go for it!
    </p>
  </section>
</div>